@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%; /* #FFFFFF */
  --background-secondary: 210 20% 98%; /* #F9FAFB */
  --background-tertiary: 0 0% 96%; /* #F5F5F5 */

  --foreground: 220 43% 11%; /* ##101828 */
  --foreground-secondary: 218 24% 27%; /* #344054 */
  --foreground-tertiary: 216 18% 34%; /* ##475467 */
  --foreground-placeholder: 221 13% 46%; /* ###667085 */

  --primary: 259 63% 59%; /* #7f56d9 */
  --primary-foreground: 0 0% 100%; /* #FFFFFF */

  --button-secondary-color-foreground: 258 54% 52%; /* #6941c6; */
  --button-secondary-color-border: 265 89% 86%; /* ##d6bbfb */

  --border: 217 16% 84%; /* #D0D5DD */
}

body {
  font-family: var(--font-inter), sans-serif;
}
